.vs/
bin/
obj/
out/
artifacts/
/site/
node_modules/
TestResults/
src/ViscerealityCompanion.App.Package/AppPackages/

session/
*.user
*.suo
*.cache

src/ViscerealityCompanion.Private/
tests/ViscerealityCompanion.Private.Tests/
private/
